:root {
  --color-dark-blue: #11131f;
  --color-light-green: #93abae;
  --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
  --color-white: #f6f5ef;
  --color-blue-2: #1f212d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Common styles */
body {
  font-family: DM Sans, sans-serif;
  color: var(--color-blue-2);
  background: var(--color-dark-blue);
}
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-decoration: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*special classes*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Base styles for small devices */
.container {
  /* min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto; */

  outline: 2px solid red;
  outline-offset: -2px;
}

/* Tablet screen */
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
  }
} */

/* Desktop screen */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.header {
}
.header-container {
  width: 1280px;
  padding-left: 32px;
  padding-right: 32px;
}

.heder-nav {
  display: flex;
  align-items: center;
  gap: 781px;
}
.header-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.header-logo-item {
}
.header-logo-link {
}

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header-menu-item {
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-menu-link {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
