/*Common styles*/
:root {
  --color-dark-blue: #11131f;
  --color-light-green: #93abae;
  --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
  --color-white: #f6f5ef;
  --color-blue-2: #1f212d;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--whit-title-col);
}
/*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link,
a {
  text-decoration: none;
  color: currentColor;
}
.btn,
button {
  font-family: inherit;
  cursor: pointer;
}
/*Header styles*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Base styles for mobile*/
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
/*Base styles for tablet*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/*Base styles for decktop*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.heder-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-col);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-logo-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-dark-col);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-item {
}
.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark-col);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  color: #404bbf;
  background-color: #404bbf;
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
}

.active {
  color: #404bbf;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .header-address-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-address-list {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
}
.header-address-item {
}

.header-address-link {
}

@media screen and (min-width: 768px) {
  .header-address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    color: var(--text-col);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header-address-link:hover {
  color: #404bbf;
}
.header-address-link:focus {
  color: #404bbf;
}
